# Dependencies needed for the file whisper_no_diarization.py
# NOTE: This is a script that ONLY DOES transcription/translation, with NO speaker diarization
# First, manually run in command line: pip install -q git+https://github.com/openai/whisper.git > /dev/null
