# Dependencies needed for Whisper Transcription V2
# First, manually run in command line: pip install -q git+https://github.com/openai/whisper.git > /dev/null
# Then, manually run in command line: pip install cohere openai
pyannote.audio==3.0.0
setuptools-rust
ffmpeg
ffmpeg-python
jiwer
